body {
    height: 729px;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: lightslategray;
}

.wrapper {
    height: 100vh;   
    background-color: lightslategray;
}

.header {
    height: 10vh;
    background-color: lightslategray;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-content: center; 
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0;
    text-align: center;

}

h1 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: relative;
    left: 35px;
    bottom: 1.5px;
}

.material-icons.md-48 {
    position: sticky;
    right: 300px;
    color: white;
    font-size: 48px;
    z-index: 5;
    
}

.borger {
    height: 100vh;
    width: 100vw;
    background-color: rgb(94, 112, 129);
    position: fixed;
    top: 0vh;
    left: -100%;   
    transition: 0.3s;  
    font-size: 180%;
    
    
}

.activate{
    left: 0vw;
    transition: 0.3s;
}

h2 {
    position: relative;
    top: 750px;
    left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 15px;
}

ul {
    position: fixed;
    top: 80px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    list-style: none;
    position: relative;
    right: 50px;
}

li {
    margin: 40px;
}

a {
    color: white;
    text-decoration: none;
}

.img1 { 
    height: 250px;
    width: 250px;
    top: 25px;
    position: relative;
    left: 70px;
}

.box1{
    margin: 20px;
    height: 5vh;
    background-color: lightslategray;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: white;
    font-size: 30px;
    position: relative;
    
}

.box2{
    margin: 20px;
    background-color: white;
    height: 629px;
    border: 1.5px solid black;
    display: grid;   
    grid-template-areas:
    "box3"
    "box4"
    "box5"
    "box6"
    "box7";
    grid-template-rows: 20% 20% 20% 20% 20%;
    
}

.box3{
    background-color: white;
    margin: 5px;
    border: 1px solid black;
    grid-area: box3;
    text-align: center;
}

.pris1{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    color: black;
}

.namn1{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    color: black;
}

.box4{
    background-color: lightgray;
    margin: 5px;
    border: 1px solid black;
    grid-area: box4;
    text-align: center;
}

.pris2{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    color: black;
}

.namn2{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    color: black;
}

.box5 {
    background-color: white;
    margin: 5px;
    border: 1px solid black;
    grid-area: box5;
    text-align: center;
}
.pris3{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    color: black;
}

.namn3{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    color: black;
}

.box6{
    background-color: lightgray;
    margin: 5px;
    border: 1px solid black;
    grid-area: box6;
    text-align: center;
}

.pris4{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    color: black;
}

.namn4{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    color: black;
}

.box7{
    margin: 5px;
    grid-area: box7;   
    display: grid;
    grid-template-areas:
    "total"
    "footer";
    grid-template-rows: 50% 50%;
    text-align: center;
}

footer{
    height: 100%;
    background-color: white;
    grid-area: footer;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: 3px;
}

p {
    position: relative;
    bottom: 3px;
}

.total{
    color: black;
    position: relative;
    font-size: 20px;
    top: 4px;
    left: 0px;
    grid-area: total;
    /* margin: 0; */
}

.minibox1, .minibox2 , .minibox3, .minibox4{
    background-color: black;
    height: 100%;
    width: 30%;
    
}

