body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;   
    background-color: lightslategray;
}

.header {
    height: 10vh;
    background-color: lightslategray;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-content: center; 
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0;
    text-align: center;

}

h1 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: sticky;
    position: relative;
    left: 35px;
    bottom: 1.5px;
}

.material-icons.md-48 {
    position: sticky;
    right: 300px;
    color: white;
    font-size: 48px;
    z-index: 5;
    
}

.borger {
    height: 100vh;
    width: 100vw;
    background-color: rgb(94, 112, 129);
    position: fixed;
    top: 0vh;
    left: -100%;   
    transition: 0.3s;  
    font-size: 180%;
    
    
}

.activate{
    left: 0vw;
    transition: 0.3s;
}

h2 {
    position: relative;
    top: 750px;
    left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 15px;
}

ul {
    position: fixed;
    top: 80px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    list-style: none;
    position: relative;
    right: 50px;
}

li {
    margin: 40px;
}

a {
    color: white;
    text-decoration: none;
}

.img1 { 
    height: 250px;
    width: 250px;
    top: 25px;
    position: relative;
    left: 70px;
}

.box1{
    margin: 20px;
    height: 5vh;
    background-color: lightslategray;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: white;
    font-size: 30px; 
    position: relative;
    
}

.box2{
    height: 80vh;
    display: grid;
    background-color: lightslategray;
    grid-template-areas: 
    "box3"
    "box4"
    "box5";
    grid-template-rows: 33% 33% 33%;
}

.box3 {
    grid-area: box3;
    margin: 20px;
    background-color: white;
    border: 1px solid black;
}

.regel {
    color: black;
    width: 100%;
    margin: auto 0;
    text-align: center;
    position: relative;
    top: 6px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.regelinfo{
    text-align: center;
    font-size: 18px;
    position: relative;
    bottom: 4px;
}

.box4 {
    grid-area: box4;
    margin: 20px;
    background-color: white;
    border: 1px solid black;
}

.box5 {
    grid-area: box5;
    margin: 20px;
    background-color: white;
    border: 1px solid black;
}





