
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: lightslategray;
}

.wrapper {
    height: 100vh;   
    background-color: lightslategray;
    width: 100vw;
}

.header {
    height: 10vh;
    background-color: lightslategray;
    display: flex;
    z-index: 11;
    justify-content: center;
    align-content: center; 
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0;
    text-align: center;

}

h1 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: sticky;
    position: relative;
    left: 35px;
    bottom: 1.5px;
}

.material-icons.md-48 {
    position: sticky;
    right: 300px;
    color: white;
    font-size: 48px;
    z-index: 5;
    
}

.borger {
    height: 100vh;
    width: 100vw;
    background-color: rgb(94, 112, 129);
    position: fixed;
    top: 0vh;
    left: -100%;   
    transition: 0.3s;  
    font-size: 180%;
    z-index: 10;
}

.activate{
    left: 0vw;
    transition: 0.3s;
}

h2 {
    position: relative;
    top: 750px;
    left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 15px;
}

ul {
    position: fixed;
    top: 80px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    list-style: none;
    position: relative;
    right: 50px;
}

li {
    margin: 40px;
}

a {
    color: white;
    text-decoration: none;
}

.gridbox{
    display: grid;
    background-color: lightslategray;
    height: 100%;
    grid-template-areas:
    "box1 box1"
    "box2 box2"
    "box3 box4" ;
    grid-template-rows: 45% 25% 30%;
}

.box1{
    grid-area: box1;
    margin: 20px;   
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.box2{
    grid-area: box2;
    margin: 20px;   
    background-color: white;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

p{
    bottom: 10px;
    position: relative;
}

.box3{
    grid-area: box3;
    margin: 20px;   
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4{
    grid-area: box4;
    margin: 20px;   
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

