body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;   
    background-color: lightslategray;
}

.header {
    height: 10vh;
    background-color: lightslategray;
    display: flex;
    z-index: 11;
    justify-content: center;
    align-content: center; 
    justify-items: center;
    align-items: center;
    position: sticky;
    top: 0;
    text-align: center;

}

h1 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: sticky;
    position: relative;
    left: 35px;
    bottom: 1.5px;
}

.material-icons.md-48 {
    position: sticky;
    right: 300px;
    color: white;
    font-size: 48px;
    z-index: 5;
    
}

.borger {
    height: 100vh;
    width: 100vw;
    background-color: rgb(94, 112, 129);
    position: fixed;
    top: 0vh;
    left: -100%;   
    transition: 0.3s;  
    font-size: 180%;
    z-index: 10;
}

.activate{
    left: 0vw;
    transition: 0.3s;
}

h2 {
    position: relative;
    top: 750px;
    left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 15px;
}

ul {
    position: fixed;
    top: 80px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    list-style: none;
    position: relative;
    right: 50px;
}

li {
    margin: 40px;
}

a {
    color: white;
    text-decoration: none;
}

.img1 { 
    height: 250px;
    width: 250px;
    top: 25px;
    position: relative;
    left: 70px;
}

.box1 {
    height: 100vh;
    background-color: lightslategray;
    display: grid;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas:
    "box2 box2"
    "box3 box3"
    "box4 box5"
}

.box2 {
    grid-area: box2;
    background-color: white;
    margin: 20px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 75% 25%;
    grid-template-areas: 
    "överbox"
    "footer";
}

.img2 {
    position: relative;
    bottom: 282px;
    z-index: 0;
}

.överbox{
    grid-area: överbox;
    opacity: 0.1;
    background-color: black;
}

footer{
    background-color: black;    
    grid-area: footer;
    z-index: 2;
    opacity: 0.8;  
    font-size: 20px;
    position: relative;
    top:1px;
    text-align: center;
}

.pfooter{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    position: relative;
    bottom: 13px;

}

.box3 {
    grid-area: box3;
    background-color: white;
    margin: 20px;
    border: 1px solid black;

}

.info {
    color: black;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: relative;
    top: 15px;
    font-size: 18px;
    width: 100%;
}

.p1 {
    font-size: 15px;
    width: 100%;
}

.box4 {
    grid-area: box4;
    background-color: white;
    margin: 20px;
    border: 1px solid black;
}

.box5 {
    grid-area: box5;
    background-color: white;
    margin: 20px;
    border: 1px solid black;    
}